In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Path
data_path = "data/transcriptomics_data.csv"

In [31]:
df = pd.read_csv(data_path)
df.head(10)

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_292,gene_293,gene_294,gene_295,gene_296,gene_297,gene_298,gene_299,cell_type,colour
0,-0.014834,4.250975,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-1.667885,-0.004167,-0.175357,-0.147322,-4.307380,0.211412,93,#53D385
1,-0.014834,3.493712,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,0.892332,0.578744,72,#33A9CE
2,-0.014834,-2.470220,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,4.694579,0.626605,1,#FF88AD
3,-0.014834,-4.274284,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,1.215511,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,2.417220,0.361311,7,#9440F3
4,-0.014834,-4.274284,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,4.983305,0.751244,7,#9440F3
5,-0.014834,-4.274284,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,4.434201,1.008515,7,#9440F3
6,-0.014834,-4.274284,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,4.188061,0.975149,0,#DDACC9
7,-0.014834,-4.274284,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,7.508489,-0.004167,-0.175357,-0.147322,4.173272,0.400000,10,#6C00BF
8,-0.014834,4.037188,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,-0.081217,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,-4.307380,0.091571,73,#0094C2
9,-0.014834,4.152306,-0.099883,-0.032479,-0.06009,-0.069533,-0.092474,0.972227,-0.015683,-0.340271,...,-0.030855,-0.240271,-2.314307,-0.004167,-0.175357,-0.147322,0.923985,0.488272,65,#ADE6A6

In [32]:
cell_type = [i for i in range(0, 133)]
article = [210, 211, 114, 178]
#Creating two Series by passing lists
cell_series = pd.Series(cell_type)
count_series = pd.Series(df.cell_type.value_counts())
#Creating a dictionary by passing Series objects as values
frame = {'cell_type': cell_series, 'count': count_series}
#Creating DataFrame by passing Dictionary
pd.DataFrame(frame)

     cell_type  count
0            0     68
1            1     76
2            2    115
3            3    287
4            4    534
..         ...    ...
128        128    110
129        129    183
130        130      7
131        131     30
132        132    106

[133 rows x 2 columns]

In [33]:
print(f"length of dataset : {df.shape[0]}")

length of dataset : 23822

In [39]:
df.columns

Index(['gene_0', 'gene_1', 'gene_2', 'gene_3', 'gene_4', 'gene_5', 'gene_6',
       'gene_7', 'gene_8', 'gene_9',
       ...
       'gene_292', 'gene_293', 'gene_294', 'gene_295', 'gene_296', 'gene_297',
       'gene_298', 'gene_299', 'cell_type', 'colour'],
      dtype='object', length=302)

In [40]:
df = df.drop(columns=["colour", "cell_type"])
df.corr()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_290,gene_291,gene_292,gene_293,gene_294,gene_295,gene_296,gene_297,gene_298,gene_299
gene_0,1.000000,-0.040892,0.400002,-0.002627,-0.003585,0.042994,-0.004514,0.391367,-0.001873,0.002988,...,0.314901,0.530912,0.297198,0.038683,-0.015753,-0.000986,0.008216,-0.004810,-0.041951,-0.175360
gene_1,-0.040892,1.000000,-0.098274,-0.053435,-0.069771,-0.079453,-0.082384,-0.054034,-0.030865,-0.155084,...,-0.129526,-0.067514,-0.036923,-0.150527,-0.337137,-0.022759,-0.091730,-0.122913,-0.642099,0.098133
gene_2,0.400002,-0.098274,1.000000,0.064292,0.140186,0.208635,0.129802,0.557608,-0.004670,0.169167,...,0.493533,0.726922,0.545565,0.203868,-0.038629,0.018653,0.027576,0.124515,-0.099990,-0.391852
gene_3,-0.002627,-0.053435,0.064292,1.000000,0.547295,0.466608,0.584414,0.025137,0.034493,-0.012602,...,0.282358,-0.004273,-0.002839,0.017306,-0.019231,-0.001453,0.079266,0.458658,-0.055719,-0.189562
gene_4,-0.003585,-0.069771,0.140186,0.547295,1.000000,0.687681,0.827186,0.046998,0.046028,-0.014975,...,0.314521,-0.007817,-0.005688,0.033168,-0.026056,-0.001983,0.097454,0.651011,-0.080176,-0.278867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
gene_295,-0.000986,-0.022759,0.018653,-0.001453,-0.001983,0.016430,0.047343,-0.003083,-0.001036,0.078468,...,0.031632,0.000399,-0.001564,0.083646,-0.007292,1.000000,-0.000067,0.049807,-0.014199,-0.066044
gene_296,0.008216,-0.091730,0.027576,0.079266,0.097454,0.159409,0.118085,0.047234,0.391038,-0.014417,...,0.420683,0.025736,0.016934,0.295487,-0.041300,-0.000067,1.000000,0.303586,-0.102462,-0.354427
gene_297,-0.004810,-0.122913,0.124515,0.458658,0.651011,0.607254,0.748286,0.104421,0.077872,0.047409,...,0.437535,-0.001704,-0.003986,0.137563,-0.039840,0.049807,0.303586,1.000000,-0.106469,-0.430776
gene_298,-0.041951,-0.642099,-0.099990,-0.055719,-0.080176,-0.084377,-0.091156,-0.078150,-0.038178,-0.106191,...,-0.134701,-0.078383,-0.061647,-0.163530,0.427712,-0.014199,-0.102462,-0.106469,1.000000,0.331732
gene_299,-0.175360,0.098133,-0.391852,-0.189562,-0.278867,-0.313789,-0.334231,-0.270578,-0.119978,-0.456663,...,-0.494728,-0.311680,-0.219901,-0.546026,0.069325,-0.066044,-0.354427,-0.430776,0.331732,1.000000

In [35]:
np.where(pd.isnull(df))

(array([], dtype=int64), array([], dtype=int64))

In [36]:
df.eq(0).any().any()

True

In [37]:
df.eq(0).any()

gene_0       False
gene_1       False
gene_2       False
gene_3       False
gene_4       False
             ...
gene_297     False
gene_298     False
gene_299     False
cell_type     True
colour       False
Length: 302, dtype: bool

In [38]:
range(0, 10).type

AttributeError: 'range' object has no attribute 'type'